/*Properties of the menu button*/
#menuButton {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/*Properties of the dropdown div*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Properties of the dropdown content*/
.menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Properties of the text of the dropdown options*/
.menu-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/*Properties of the text of the dropdown options*/
.menu-dropdown-content a:hover {
    background-color: #C8C8C8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
  
/*Properties of the dropdown list that makes it available/not available*/
.show {
    display: block;
}
