/*Properties needed to transform the buttons to the top right of the list*/
.list-buttons {
    position: relative; 
    top: -10px; 
    right: -240px;
}
/*The dimensions of the buttons*/
.mdl-button--fab.mdl-button--mini-fab{
    width: 17px;
    height: 25px;
    min-height: initial;
    min-width: 25px;
}

/*The properties of the overall title of each list*/
.weekly-toDo-list-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*Modifies the titles (overdue, today, to do list)in each section */
h6{
    text-decoration: underline;
}

/*Makes the boxes in the grids centered on different screens*/
.grid {
    justify-items: center;
    ;
  }

/*New List Popup*/

/*The following properties make the background gray and fit to the center of the screen*/
.pageBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.4;
    z-index: 3;
    display: none; 
}
/*The following properties are what make the actual popup message*/
.newListContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #ffffff;
    width: 375px;
    height: 255px;
    z-index: 4;
    text-align: left;
    padding:20px;
    box-sizing: border-box;
}

/*Close button properties*/
.close-popup-button {
    /*These properties determine the location of the close button*/
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    /*These properties determine the aesthetic of the close button*/
    color: #FFB300;
    background: #ffffff;
    box-shadow: none;
}

/*Hovering over the close button properties*/
.close-popup-button:hover{
    color: #FFB300;
    background:#E9E9E9;
}

/*The following property is necessary to get a gray background*/
.popupMessage.active .pageBackground {
    display: block;
}
/*The following properties deal with the animation of the pop-up message */
.popupMessage.active .newListContent {
    transition: all 400ms ease-in-out;
    transform: translate(-50%,-50%);
}


/*New Item Popup*/

/*The following properties are what make the actual popup message*/
.newItemContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #ffffff;
    width: 375px;
    height: auto;
    z-index: 4;
    text-align: left;
    padding:20px;
    box-sizing: border-box;
}

/*The following properties deal with the animation of the pop-up message */
.popupMessage.active .newItemContent {
    transition: all 400ms ease-in-out;
    transform: translate(-50%,-50%);
}

/*New Color Popup*/

/*The following properties are what make the actual popup message*/
.newColorContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #ffffff;
    width: 375px;
    height: auto;
    z-index: 4;
    text-align: left;
    padding:20px;
    box-sizing: border-box;
}

/*The following properties deal with the animation of the pop-up message */
.popupMessage.active .newColorContent {
    transition: all 400ms ease-in-out;
    transform: translate(-50%,-50%);
}

.mdl-color--teal{
    background-color: #A60303 !important;
}